{% extends "layouts/master.twig" %}

{% block content %}

    <div class='containerProfile'>
        <div class='box'>
            <div class='box_head'>
                <div>
                    <h2>{{ box.title }}</h2>
                    <p>Etat : {{ box.status }}</p>
                    <p>{{ box.payment }}</p>
                </div>
                {% if box.status == 'closed' and box.paid %}
                    <div>
                        <h2>Lien à partager</h2>
                        <a href='{{ box.url }}'>{{ box.url }}</a>
                    </div>
                {% endif %}
                <div class='box_head_total'>
                    <p class='p_total'>Total </p>
                    {{ box.total }}
                    <p>€</p>
                </div>
            </div>  

            <div class='box_grid'>
             {% for offer in offers %}
                 
                
                {# $deleteOffer = $this->deleteOffer($offer); #}

                <div class='containerBox'>
                    <a href='{{ offer.urlDetailledOffer }}' class='offer'>
                        <img src='{{ siteUrl('assets/img/offers/' ~ offer.image)}}'>
                        <div class='offer_bottom'>
                            <h2 class='label label_title'>{{ offer.title }}</h2>
                            <div class='offer_bottom_infos'>
                                <p class='label label_category'>{{ offer.category }}</p>
                                <p class='label label_price'>{{ offer.price }} €</p>
                            </div>
                        </div>
                    </a>
                        {% if box.status != 'closed' %}
                            <a href='{{ offer.urlDeleteOffer }}' class='delete'><p>x</p></a>
                        {% endif %}
                        
                </div>
             {% endfor %}

        
            </div>
            <div class='buttonLayout buttonLayout-center'>
                {% if box.status != 'closed' %}
                <a href='{{ urls['offers'] }}' class='button button_continueBox'>Continuer les achats</a>
                
                    {% if box.paymentButton.type %}
                        {% if box.paymentButton.canClose %}
                        
                            <a href='{{ box.paymentButton.url}}' class='button button_validateBox'>{{ box.paymentButton.message }}</a>
                        {% endif %}
                        
                    {% else %}
                        <form method="POST">
                            <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="pk_test_TYooMQauvdEDq54NiTphI7jx"
                                data-amount="{{ box.paymentButton.amount }}"
                                data-name="Stripe.com"
                                data-description="Example charge"
                                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                data-locale="auto"
                                data-zip-code="true">
                            </script>
                        </form>
                    {% endif %}
                {% endif %}

                
                
                
            </div>
        </div>
    </div>  
{% endblock %}

{% block scripts %}
{% endblock %}