{% extends "layouts/master.twig" %}

{% block content %}

{% if user_level == 2 %}
    <a href='{{ urls.createOffer }}'><button class="admin admin-create">Ajouter une prestation</button></a>
{% endif %}
    <div class='menu_categories'>
        <p>Trier par catégories</p>
        <i id='slide_arrow' class='fas fa-angle-down'></i>
        <div id='cat_list' class='cat_list'> 
            <a href='{{ urls.offers }}' class='{{ sorting_category == 'all' ? 'selected_category':'' }}'>Toutes</a>
            {% for category in categories %}
                <a href='{{ category.url }}' class='{{ sorting_category == category.title ? 'selected_category' : ''}}'>{{category.title}}</a>
            {% endfor %}
        </div>
    </div>
    <form method='POST' class='offers_sort'>
        <p>Afficher par prix :</p>
        <label><input type='radio' name='sort' value='0' {{sorting_order == 0 ? 'checked' : ''}}>Croissant</label>
        <label><input type='radio' name='sort' value='1' {{sorting_order == 1 ? 'checked' : ''}}>Décroissant</label>
        <button type='submit' class='button button_sort'>Trier</button>
    </form>
    <div class='offers'> 
    {% for offer in offers %}
    {% if (user_level == 2 and offer.on_hold) or not offer.on_hold %}
        <div class="offer">
        <a href='{{ offer.urls.main}}' >
            <img src='{{ siteUrl('/assets/img/offers/' ~ offer.img) }}'>
            <div class='offer_bottom'>
                <h2>{{offer.title}}</h2>
                <div class='offer_bottom_infos'>
                    <p>{{offer.categ}}</p>
                    <p>{{offer.price}} €</p>
                    {% if user_level == 2 %}
                        <a href='{{offer.urls.delete}}'><i class='fa fa-trash'></i></a>
                        <a href='{{offer.urls.lock}}'><i class='fa fa-{{offer.on_hold == true ? 'lock-open' : 'unlock-alt'}}'></i></a>
                        <a href='{{offer.urls.modify}}'><i class='fa fa-cog'></i></a>
                    {% endif %}
                </div>
            </div>
        </a>
        </div>
    {% endif %}
    {% endfor %}
    </div>

{% endblock %}

{% block scripts %}
    <script src='{{ siteUrl('/assets/scripts/jquery.js')}}'></script>
    <script src='{{ siteUrl('/assets/scripts/offers_sliding_sort.js')}}'></script>
{% endblock %}