{% extends "layouts/master.twig" %}

{% block content %}
<h1 class='title title_1 title--bg'>Ajouter une prestation</h1>

<div class='add_offer'>
    <form method="post" enctype="multipart/form-data">
        <div class='form_group'>
            <label class='label'>Titre</label>
            <input type='text' name='title' value='{{ offer.title }}'>
        </div>
        
        <div class='form_group'>
            <label for='price' class='label'>Prix</label>
            <input type='number' min="0" value="{{ offer.price }}" name='price'>
            
        </div>       

        <div class='form_group'>
            <label for='category' class='label'>Catégorie</label>
            <select name='category'>   
            {% for category in categories %}
                <option value='{{category.id}}'>{{ category.title }}</option>
            {% endfor %}
            </select>
            
        </div>  

        <textarea name='description' placeholder='Votre description'>{{ offer.description }}</textarea>


        <input type="file" name="image" value="100000">

        <div class='buttonLayout buttonLayout--right'>
            <button class='button button--green' type="submit">Valider</button>
        </div>
    </form>
</div>
{% endblock %}