{% extends "layouts/master.twig" %}

{% block content %}

    <form method="post" enctype="multipart/form-data">
        <label class='label'>Titre</label>
        <input type='text' name='title' class='input' value='{{ offer.title }}'>
        
        <label for='description' class='label'>Description</label>
        <textarea name='description' placeholder=''>{{ offer.description }}</textarea>
        
        <label for='price' class='label'>Prix</label>
        <input type='number' min="0" value="{{ offer.price }}" name='price' class='input'>
        
        <select name='category'>   
        {% for category in categories %}
            <option value='{{category.id}}'>{{ category.title }}</option>
        {% endfor %}
        </select>
        <input type="file" name="image" value="100000">
        <input type="submit">Valider</button>
    </form>

{% endblock %}