{% extends "layouts/master.twig" %}

{% block content %}

<div class='containerProfile'>
    <div class='accountInformations'> 
        <h1 class='title title_1'>Mes informations</h1>
        <div class='accountInformation'>
            <div class='account'>
                <div class='account_id'>
                    <p>{{ user.first_name }}</p>
                    <p>{{ user.name }}</p>
                </div>
                <p>{{ user.email }}</p>
            </div>
            <div class='accountSettings'>
                <a href='{{ urls['settings'] }}'>
                    <i class='fa fa-cog fa-2x'></i>
                    <span>Paramètres</span>
                </a>
            </div>
        </div>
    </div>
    <div class='mybox'>
        <h2 class='title title_2'>Mes box</h2>
        <a class='button button--green' href='{{ urls['createBox'] }}'>
            <i class='fas fa-plus'></i>Ajouter
        </a>
    </div>
    <div class='gridBox'>
        {% for box in boxes %}
            <div class='boxItem'>
                <a href="{{ box.urlBox }}">
                    <h1 class='label_titreBox'>{{ box.title }}</h1>
                    {% if box.jackpot_url %}
                        <p>Cagnotte</p>
                    {% endif %}
                    <div class='box_price'>
                        {% if box.jackpot_amount %}
                            <p>{{ box.jackpot_amount }}/{{ box.price }} €</p>
                        {% else %}
                            <p>{{ box.price }} €</p>

                        {% endif %}
                    </div>
                </a>
                <a href="{{ box.urlDeleteBox }}" class='delete'>
                    <p>x</p>
                </a>
            </div>
        {% endfor %}
    </div>
</div> 
{% endblock %}

{% block scripts %}
{% endblock %}