{% extends "layouts/master.twig" %}

{% block content %}

<div class='container'>
    <div class='accountInformations'> 
        <h1 class='title title_informations'>Mes informations</h1>
        <div class='accountInformations'>
            <div class='accountLabel'>
                <p class='label label_firstname'>{{ user.first_name }}</p>
                <p class='label label_lastname'>{{ user.name }}</p>
                <p class='label label_mail'>{{ user.email }}</p>
            </div>
            <div class='accountSettings'>
                <img src='{{ siteUrl('assets/img/settings.svg')}}' class='imageSettings'>
                <a href='{{ urls['settings'] }}' class='label label_settings'>Paramètres</a>
            </div>
        </div>
    </div>
    <div class='mybox'>
        <h1 class='title title_informations'>Mes box</h1>
        <a href='{{ urls['createBox'] }}'>
            <i class='fas fa-plus'></i>
        </a>
    </div>
    <div class='gridBox'>
        {% for box in boxes %}
            <div class='boxItem'>
                <a href="{{ box.urlBox }}">
                    <h1 class='label_titreBox'>{{ box.title }}</h1>
                    {% if box.jackpot_url %}
                        <p>Cagnotte</p>
                    {% endif %}
                    <div class='box_price'>
                    {% if box.jackpot_amount %}
                        <p class='label_prixBox'>{{ box.jackpot_amount }}/{{ box.price }} €</p>
                    {% else %}
                        <p class='label_prixBox'>{{ box.price }} €</p>

                    {% endif %}
                    
                    </div>
                </a>
                <a href="{{ box.urlDeleteBox }}" class='delete'>
                    <p>x</p>
                </a>
            </div>
        {% endfor %}
    </div>
    
</div>
    
{% endblock %}

{% block scripts %}
{% endblock %}