{% extends "layouts/master.twig" %}

{% block content %}

    <div class='box'>
        <div class='box_head visitor'>
            <h2>{{box.title}}</h2>
            {{user.name}}
            {{user.first_name}}
        </div>  
        <div class='thanks'>
            <h3>Message de l'auteur du coffret</h2>
            <p>{{box.message}}</p>
        </div>

        <div class='box_grid'>
            {% for offer in offers %}
            <div class='containerBox'>
                <a href='$urlDetailledOffer' class='offer'>
                    <img src='{{ siteUrl('assets/img/offers/' ~ offer.image ) }}'>
                    <div class='offer_bottom'>
                        <h2 class='label label_title'>{{offer.title}}</h2>
                        <div class='offer_bottom_infos'>
                            <p class='label label_category'>{{offer.category}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        <form class='form_thank' method='POST'>
            <h3>Remercier {{user.name}} {{user.first_name}}</h3>
            <textarea class='textVisitor' name='message_return' placeholder='Votre message'></textarea>
            <div class='buttonLayout buttonLayout-right'>
                <button class='button' type='submit'>Remercier</button>
            </div>
        </form>
    </div>

{% endblock %}